// styles go here
nav .nav-wrapper {
    background-color: #69b3e7;
}
body {font-family: 'Lato';}
nav .brand-logo {color:#000}
span.card-title {
    font-family: 'Lato-Bold';}
.card {
    border: 2px solid #dadada;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input {
    border-bottom: 1px solid #dadada !important;}
.btn, .btn-large, .btn-small {
    background-color: #00305c;
    color: #fff !important;}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #69b3e7;}
.btn input {
    border-bottom: none !important;}
