// styles go here
nav .nav-wrapper {
    background-color: #69b3e7;
}
body {font-family: 'Lato';}
nav .brand-logo {color:#000}
span.card-title {
    font-family: 'Lato-Bold';}
.card {
    border: 2px solid #dadada;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input {
    border-bottom: 1px solid #dadada;
}
