
body {font-family: 'Lato';}
nav .brand-logo {color:#000}
span.card-title {
    font-family: 'Lato-Bold';}
.card {
    border: 2px solid #dadada;
    -webkit-box-shadow: none;
    box-shadow: none;
}
h5 {font-weight:bold;}

input {
    border-bottom: 1px solid #dadada !important;}

.btn, .btn-large, .btn-small {
    background-color: #00305c;
    color: #fff !important;}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #69b3e7;}
.btn input {
    border-bottom: none !important;}
.btn input {
    color: #fff;
    font-family: 'Lato-Bold';
    letter-spacing: 1px;}

nav .nav-wrapper {
    background-color: #fff; color: #1d1d1d;
}
nav ul a:hover {
    background-color: #e5e5e5;}
nav ul a {
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    color: #1d1d1d;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn {
    margin-left: .75rem;
}
h5.card-title {
    font-size: 35px !important;
    font-weight: bold !important;
    padding: 0 .75rem;
}
.individualPalette h6 {
    padding: 0 .75rem;
}
#j_id0:main-block:j_id5:pbId > div.pbBody > div {
    border: 2px solid rgb(218, 218, 218) !important;
    padding: 10px;
}

#j_id0:main-block:j_id5:pbId > div.pbBody > div hr {display:none;}
tr {
    border-bottom: none;
}
span.badge.new {background-color:#69b3e7;}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {-webkit-box-shadow: none;
    box-shadow:none; }
